In [ ]:
Q.1) What are data structures and why are they important?

==)) DATA STRUCTURE= It refers to the way data is organized, stored & manipulated in a computer so that it canbe efficiently accessed and used.
Data structure are essential for main two reason:-
they make the code more efficient, and they make the code easier to understand.

In [ ]:
Q.2) Explain the difference between mutable and immutable data types with examples.

==)) Mutable: #Definition= objects whose state or value canbe changed after they are created.
              #Examples= lists, dictionaries, sets.
              #Memory allocation= can modify in place without creating a new object.
              #Behaviour with assignment= assigning a new reference does not affect other references.

   Immutable: #Definition= objects whose state or value cannot be changed once they are created.
              #Examples= integars,floats,strings,tuples,frozensets.
              #Memory allocation= creating a new object is required when attempting to modify.
              #Behaviour with assignment= assigning a new reference creates a new objects, leaving the original unchanged.

In [ ]:
Q.3) What are the main differences between lists and tuples in python?

==)) LIST: #Mutability= mutable
           #Syntax= enclosed in square[] bracket.
           #Length= it canbe changed, i.e.,a new element canbe added.
           #Operation= elements canbe added, removed or modified.
           #Examples= employee=['A', 'B', 'C']

    TUPLE: #Mutability= immutable
           #Syntax= enclosed in square(()) bracket.
           #Length= length is fixed,i.e,new elements cannot be added.
           #Operation= it supports indexing, slicing and iterating over elements.
           #Example= employee number= (1001,1002,1003)

In [ ]:
Q.4) Describe how dictionaries store data.

==)) Python dictionaries store data as key-value pairs, using a hash table implementation for efficient data retrieval, allowing quick access to values using their unique keys.

#Key-value pairs= dictionaries consist of pairs where each key is associated with a unique value.
#Hash table implementation= python dictionaries are implemented as hash tables, which use a hashing algorithm to map keys to their corresponding memory loactions for fast access.
#Example=  my_dict: {"name": "Alice", "age":30, "city": "Kolkata"}
           print(my_dict["name"])
           print(my_dict["city"])
          OUTPUT- Alice
                  Kolkata

In [ ]:
Q.5) Why might you use a set instead of a list in python?

==)) There are some important points to the understanding of set instead of list in python:-

# If you dont want the values in the data to change, you can use a set. But if you want the items to change, you can use a list.
# A set, on the other hand, is an unordered collection of unique elemets.
# A list in python is an ordered collections of elements that can contain duplicates.
# Examples of a set:
  my_set= {1,2,3,4,5}  -)no duplicates elements
  print(3 in my_set)   -)output= TRUE
#Examples of a list:
  my_list= [1,2,3,4,5,1,2]  -)duplicates elements allowed
  print(3 in my_list)       -)output= TRUE

In [ ]:
Q.6) What is a string in python, and how is it different from a list?

==)) STRING= In python, a string is a sequence of characters, like "Hello, world!", and is used to store and manipulate text.

String is differ from a list. How?
# strings are immutable sequences of characters, while lists are mutable sequences that can contain various data types.
# Strings are enclosed in single or double quotes.
# Lists items are enclosed in square brackets[].
# If you need to modify a string, you must create a new one.
# But, in list you can change them after creation by adding, removing or replacing elements.

In [ ]:
Q.7) How do tuples ensure data integrity in python?

==)) Tuples in python are immutable, meaning once they are created, they cannot be changed. This charateristics canbe leveraged for data integrity by using tuples for data that should not be modified after creation.

In [ ]:
Q.8) What is a hash table, and how does it relate to dictionaries in python?

==)) Hash Table= A hash table is a data structure that is used to store keys/value pairs.

How dictionaries use hash tables.
# In python, the dict data type(dictionaries) is built on top of a hash table implementation.
# When you create a dictionary, python uses a hash function to calculate a hash code for each key.
# This hash code is then used to determine the index in the underlying array where the value associated with that key will be sorted.
# This allows for very fast retrieval of values by using the keys as input to the hash function.

In [ ]:
Q.9) Can lists contain different data types in python?

==)) A list in python CAN contain different types of data. Each item in the list is separated by a comma and the entire list is enclosed in square brackets[].
To add a new item to the list, just edit the list starting before the closing bracket. add a comma and the new item. It doesnot matter what the type is for the previous item.
In the example below, the elements list contains the name of an element and its atomic number and mass. The list then contains the same data for another element. The data types contained in the list are strings, integars, and floating point values.

 elements= ['Hydrogen', 1, 1.007825, 'Helium', 2, 4.00260]

In [ ]:
Q.10) Explain why strings are immutable in python.

==)) In python, strings are immutable, which means that once a string is created, it cannot be modified.
However, the replace () method canbe used to create a new string with some of the characters in the original string replaced with different characters.
This is done by calling the replace() method on a string, passing in the characters that you want to replace, and specifying the replacement characters. The original string is not modified, but a new string is returned with the specified replacements.

In [ ]:
Q.11) What advantages do dictionaries offer over lists for certain tasks?

==)) Dictionaries excel over lists when you need efficient data retrieval by key, offer flexibility in data organization, and require clear code readability for key-value pairs.
Advantages:- # key-value pair organization
             # dynamic size
             # readability
             # fast lookup, etc.
When dictionaries are better:- # data retrieval by key
                               # associating data
                               # handling complex data
                               # building lookup tables
When lists are better:- # sequential data
                        # modifying data
                        # simple iteration
                        # storage and retrieval by index.

In [ ]:
Q.12) Describe a scenario where using a tuple would be preferable over a list.

==)) Tuples are immutable. Hence, they are primarily used to store data that does not change frequently. Any operation can store data in a tuple when you donot want it to change.
Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.
It is beneficial when you need to store values that donot change over time, like a person's birthdate or height.

In [ ]:
Q.13) How do sets handle duplicate values in python?

==)) To remove duplicates from a python list while preserving order, create a dictionary from the list and then extract its keys as a new list:
     list(dict.fromkeys(my_list))
  Let's look at the steps required to remove duplicates from a list using this technique:-
  # The list is cast into a set, which removes all the duplicates.
  # The set is cast back into a new list, which only contains unique values.

In [ ]:
Q.14) How does the "in" keyword work differently for lists and dictionaries?

==)) In python, lists are ordered collections of items, accessed by index, while dictionaries store key-value pairs and are accessed by keys.
Lists are mutable(changeable), while dictionaries are also mutable.

# List Examples:
   #creating a list
    my_list= [1,2,3,"apple",True]
    print (my_list)
    output: [1,2,3,'apple',True]
   #accessing elements by indexing
    print(my_list[0])   -)1
    print(my_list[3])   -)apple
   #modifying a list
    my_list[0]=10      
    print(my_list)      -)[10,2,3,'apple',True]
   #adding elements
    my_list.append("banana")
    print(my_list)      -)[10,2,3,'apple',True,'banana']
   #removing elements
    my_list.remove("apple")
    print(my_list)      -)[10,2,3,True,'banana']

#Dictionary Examples:
   #creating a dictionary
    my_dict= {"name": "Alice", "age": 30, "city": "New York"}
    print(my_dict)
    output-) {'name': 'Alice', 'age': 30, 'city': 'New York'}
   #accessing values by key
    print(my_dict["name"])     -)Alice
    print(my_dict["city"])     -)New York
   #modifying a dictionary
    my_dict["age"]             -)30
    print(my_dict)             -){'name': 'Alice', 'age':30, 'city': 'New York'}
   #adding a new key-value pair
    my_dict["occupation"]= "Engineer"
    print(my_dict)             -){'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}
   #removing a key-value pair
    del my_dict["city"]
    print(my_dict)             -){'name': 'Alice', 'age':30, 'occupation': 'Engineer'}

In [ ]:
Q.15) Can you modify the elements of a tuple? Explain why or why not.

==)) No, you cannot directly modify the elements of a tuple once it has been created. Tuples are immutable data structures, meaning their contents cannot be changed after they are defined.

Why?
#Immutability= tuples are desgined to be immutable, ensuring their contents remain constant after creation.
#Efficiency= the immutability of tuples allows for optimizations like memory management and caching, as the interpreter can assume the data will not change.
#Data Integrity.

Why not?
Due to tuple's immutability, the contents of a tuple cannot change once it has been created in python.

In [ ]:
Q.16) What ia s nested dictionary, and give an example of its use case?

==)) Nested Dictionaries= Nested dictionaries in python refer to dictionaries that are stored as values within another dictionary.

Use Cases.
# people= {1:{'name': 'John', 'age': 27, 'sex': 'Male'}
           2:{'name': 'Marie', 'age': 22, 'sex': 'Female'}}
  print(people)
  -) {1:{'name': 'John', 'age': 27, 'sex': 'Male'}, 2:{'name': 'Marie', 'age': 22, 'sex': 'Female'}}

In [ ]:
Q.17) Describe the time complexity of accessing elements in a dictionary.

==)) The time complexity of dictionary operations in python depends on the size of the dictionary and the specific operation being performed. Here's a summary of the time complexity of some common dictionary operations:-

#accessing a value by key: O(1) on average, o(n)worst case if there are many collisions.
#adding a key-value pair: O(1) on average, o(n)worst case if the dictionary needs to be resized.
#modifying a value by key: O(1) on average, o(n)worst case if there are many collisions.
#removing a key-value pair by key: O(1) on average, o(n)worst case if there are many collisions.
#iterating over the keys, values, or items: o(n), where n is the number of key-value pairs in the dictionary.

In [ ]:
Q.18) In what situations are lists preferred over dictionaries?

==)) Lists are preferred over dictionaries in python when order matters, you need to store multiple values for an item, or when you are performing ordered operations like sorting.
Lists also allow duplicate items, while dictionaries cannot have duplicate keys.

#Order= lists are ordered collections, meaning the order of elements is preserved.
#Multiple values= if you want to store multiple values for a single item, a list canbe used to hold those values.
#Simple data storage= lists are simpler and easier to work with for basic data storage when you donot need the key-value association of a dictionary.
#Ordered operations.
#Duplication.

In [ ]:
Q.19) Why are dictionaries considered unordered, and how does that affect data retrieval?

==)) Why?
     #Dictionary is termed as an unordered collection of object because the printed order of elements is not same as the order in which the elements are stored.
     #Dictionaries are structured to lookup information quickly, rather than to keep ordered information.

     How does affect data retrieval?
     #you can't access dictionary elements based on their position value.
     #you need to provide a key to access the corresponding value.
     #when you loop through a dictionary, you will go through every day, but you are not guaranteed to get them in any particular order.

In [ ]:
Q.20) Explain the difference between a list and a dictionary in terms of data retrieval.

==)) In python, lists are best for sequential data access, while dictionaries are best for data retrieval by specific identifiers.

## List: #data structure= ordered collections of items
         #access= accessed by index
         #duplicates= allows duplicates items
         #data types= can store any data type
         #use cases= ordered collections and sequence operations.

## Dictionary: #data structure= unordered collections of key-value pairs
               #access= accessed by key
               #duplicates= doesnot allow duplicates keys
               #data types= keys canbe of any immutable data type, values canbe of any data type
               #use cases= quick data look-ups, configurations, or caches.

In [ ]:
PRACTICAL QUESTIONS..

In [ ]:
Q.1) Write a code to create a string with your name and print it.

In [ ]:
  name= "My name is Sakshi"
  print(name)

My name is Sakshi

In [ ]:
Q.2) Write a code to find the length of the string "Hello World"

In [ ]:
   string= "Hello World"
   length= len(string)
   print(length)

11

In [ ]:
Q.3) Write a code to slice the first 3 characters from the string "python programming"

In [ ]:
    string= "python programming"
    first_three= string[:3]
    print(first_three)

pyt

In [ ]:
Q.4) Write a code to convert the string "hello" to uppercase.

In [ ]:
    str= "hello"
    print(str.upper())

HELLO

In [ ]:
Q.5) Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
    string= "I like apple"
    new_string= string.replace('apple','orange')
    print(new_string)

I like orange

In [ ]:
Q.6) Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
    numbers= []
    for i in range(1,6):
      numbers.append(i)
    print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
Q.7) Write a code to append the number 10 to the list [1,2,3,4].

In [ ]:
    my_list= [1,2,3,4]
    my_list.append(10)
    print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
Q.8) Write a code to remove the number 3 from the list [1,2,3,4,5].

In [ ]:
  numbers= [1,2,3,4,5]
  numbers.remove(3)
  print(numbers)

[1, 2, 4, 5]

In [ ]:
Q.9) Write a code to access the second element in the list ['a','b','c','d'].

In [ ]:
   my_list= ['a','b','c','d']
   second_element= my_list[1]
   print(second_element)

b

In [ ]:
Q.10) Write a code to reverse the list [10,20,30,40,50].

In [ ]:
   my_list= [10,20,30,40,50]
   reversed_list= my_list[::-1]
   print(reversed_list)

[50, 40, 30, 20, 10]

In [ ]:
Q.11) Write a code to create a tuple with the elements 100,200,300 and print it.

In [ ]:
   my_tuple= (100,200,300)
   print(my_tuple)

(100, 200, 300)

In [ ]:
Q.12) Write a code to access the second-to-last element of the tuple ('red','green','blue','yellow').

In [ ]:
   colors= ("red","green","blue","yellow")
   second_to_last= colors[-2]
   print(second_to_last)

blue

In [ ]:
Q.13) Write a code to find the minimum number in the tuple (10,20,5,15).

In [ ]:
    my_tuple= (10,20,5,15)
    min_number= min(my_tuple)
    print(min_number)

5

In [ ]:
Q.14) Write a code to find the index of the element "cat" in the tuple ('dog,'cat','rabbit').

In [ ]:
    my_tuple= ('dog','cat','rabbit')
    index= my_tuple.index('cat')
    print(index)

1

In [ ]:
Q.15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
   fruits= ("apple","grapes","kiwi")
   if "kiwi" in fruits:
       print("yes,kiwi is in the tuple")
   else:
       print("no,kiwi is not in the tuple")

yes,kiwi is in the tuple

In [ ]:
Q.16) Write a code to create a set with the elements 'a','b','c' and print it.

In [ ]:
   my_set= {'a','b','c'}
   print(my_set)

{'a', 'c', 'b'}

In [ ]:
Q.17) Write a code to clear all elements from the set {1,2,3,4,5}.

In [ ]:
   my_set= {1,2,3,4,5}
   my_set.clear()
   print(my_set)

set()

In [ ]:
Q.18) Write a code to remove the element 4 from the set {1,2,3,4}.

In [ ]:
   my_set= {1,2,3,4}
   my_set.remove(4)
   print(my_set)

{1, 2, 3}

In [ ]:
Q.19) Write a code to find the union of two sets {1,2,3} and {3,4,5}.

In [ ]:
    set1= {1,2,3}
    set2= {3,4,5}
    union_set= set1.union(set2)
    print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
Q.20) Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.

In [ ]:
   set1= {1,2,3}
   set2= {2,3,4}
   intersection= set1&set2
   print(intersection)

{2, 3}

In [ ]:
Q.21) Write a code to create a dictionary with the keys "name","age", and "city", and print it.

In [ ]:
 person= {'name':'Ankita',
          'age':26,
          'city':'Delhi'}
 print(person)

{'name': 'Ankita', 'age': 26, 'city': 'Delhi'}

In [ ]:
Q.22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age':25}.

In [ ]:
   person= {'name':'John',
            'age':25}
   person['country']='USA'
   print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
Q.23) Write a code to access the value associated with the key "name" in the dictionary {'name':'Alice','age':30}.

In [ ]:
   person= {'name':'Alice',
            'age':30}
   name_value= person['name']
   print(name_value)

Alice

In [ ]:
Q.24) Write a code to remove the key "age" from the dictionary {'name':'Bob','age':22,'city':'New York'}.

In [ ]:
   person= {'name':'Bob',
            'age':22,
            'city':'New York'}
   del person['age']
   print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
Q.25) Write a code to check if the key "city" exists in the dictionary {'name':'Alice','city':'Paris'}.

In [ ]:
   person= {'name':'Alice',
            'city':'Paris'}
   if 'city' in person:
       print("'city' exists in the dictionary")
   else:
       print("'city doesnot exist in the dictionary")

'city' exists in the dictionary

In [ ]:
Q.26) Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
  my_list= [10,20,25,30,40]
  my_tuple= ('a','b','c')
  my_dict= {'name':'Ramesh','age':30,'city':'Lucknow'}
  print(my_list)
  print(my_tuple)
  print(my_dict)

[10, 20, 25, 30, 40]
('a', 'b', 'c')
{'name': 'Ramesh', 'age': 30, 'city': 'Lucknow'}

In [ ]:
Q.27) Write a code to create a list of 5 random numbers between 1 to 100, sort it in ascending order, print the result.(replaced)

In [ ]:
  random_numbers= [random.randint(1, 100) for _ in range(5)]
  random_numbers.sort()
  print(random_numbers)

 33, 47, 63, 69, 90

In [ ]:
Q.28) Write a code to create a list with strings and print the element at the third index.

In [ ]:
   my_list= ["shikha","pinki","ankita","poonam","priyanka"]
   print(my_list[3])

poonam

In [ ]:
Q.29) Write a code to combine two dictionaries into one and print the result.

In [ ]:
   dict1= {"a":10,"b":20}
   dict2= {"c":30,"d":40}
   combined_dict= {**dict1,**dict2}
   print(combined_dict)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
Q.30) Write a code to convert a list of strings into a set.

In [ ]:
 string_list= ["apple","banana","cherry","apple","banana"]
 string_set= set(string_list)
 print(string_set)

{'banana', 'cherry', 'apple'}